/* Общие утилиты */
:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --sacondary-background-color: #2f303a;
}

body {
  font-family: "Robto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}

/* Лого */
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
}
.header.logo {
  color: #2f303a;
}
.footer.logo {
  color: var(--secondary-text-color);
}
.first-word-logo {
  color: var(--accent-text-color);
}

/* Навигационная панель в шапке */
.site-nav-link {
  color: var(--title-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-text-color);
}
.site-nav-link.current {
  color: var(--accent-text-color);
}

/* Контакты */
.contacts-link {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
}
.contacts-link.address {
  color: var(--secondary-text-color);
}
.contacts-link:hover,
.contacts-link:focus,
.contacts-link.address:hover,
.contacts-link.address:focus {
  color: var(--accent-text-color);
}

/* Герой страницы "Студия" */
.hero-section,
.footer {
  background-color: var(--sacondary-background-color);
  letter-spacing: 0.06em;
}
.hero-section-title {
  background-color: var(--sacondary-background-color);
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-section-button {
  color: var(--secondary-text-color);
  background-color: var(--accent-text-color);
  letter-spacing: 0.06em;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  display: flex;
}
.hero-section-button:hover,
.hero-section-button:focus {
  background-color: #188ce8;
}

/* Кнопки страницы "Портфолио" */
.portfolio-buttons {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.portfolio-buttons:hover,
.portfolio-buttons:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-text-color);
}
.portfolio-buttons.auto {
  cursor: pointer;
}

/* Секция "Особенности-преимущества" страницы "Студия" */
.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-item {
  font-size: 14px;
  line-height: 1.7;
}

/* Секция "Сотрудники" страницы "Студия" */
.employees-list {
  background-color: #f5f4fa;
}
.employee-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.employee-title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* Заголовки для секции "Сфера деятельности компании" и "Сотрудники" страницы "Студия" */
.activities-list-header,
.employees-list-header {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* Заголовки для секции "Портфолио" страницы "Портфолио" */
.portfolio-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Текстовый контент (<p>) для секции "Портфолио" страницы "Портфолио" */
.portfolio-item {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

/* Уыбираем лишние стили */
ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-style: normal;
}
